{% load static %}
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytic Dashboard</title>
    <!-- Make sure the app CSS is included -->
    <link href="{% static 'css/index-DEwDBw-n.css' %}" rel="stylesheet">
</head>
<body>
    <div id="app"></div> <!-- Vue.js Root -->

    <script>
        // Function to set a cookie
        function setCookie(name, value, days) {
            let expires = "";
            if (days) {
                const date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/; Secure; SameSite=Lax";
        }

        // Get the tokens passed from Django's context
        const accessToken = "{{ access_token }}";  // Inject the access token
        const refreshToken = "{{ refresh_token }}";  // Inject the refresh token
        
        // Set the tokens in the cookies
        setCookie("auth_token", accessToken, 1);  // Access token expires in 1 day
        setCookie("refresh_token", refreshToken, 30);  // Refresh token expires in 30 days
    </script>

    <!-- Include chunk-vendors.js and app.js files -->
    <script src="{% static 'js/index-BxD9CgZk.js' %}"></script>
    {% comment %} <script src="{% static 'js/app.acaeda05.js' %}"></script> {% endcomment %}
</body>
</html>

